<html>
    <head>
        <title>掲示板</title>
    </head>
    <body>
        <h1>掲示板</h1>
        <ul>
            <% @comments.each do |comment| %>
                <li>
                    <%= comment%>
                </li>
            <% end %>
        </ul>
        <h2>コメントする</h2>
        <form method="post" action="/new">
                <input type="text" name="body">
                <input type="submit" value="post">
        </form>
    </body>
</html>